.video-widget
  div.main
  div.me

//- Add Twilio video SDK from CDN
script(src='http://media.twiliocdn.com/sdk/conversations/v0.7/js/releases/0.7.3.b1-951e4ed/twilio-conversations.min.js')

//- Render template variables into script tags, so we can access from our
//- JavaScript code
script!= 'window.endpointId = "' + endpointId + '";'
script!= 'window.token = "' + token + '";'

//- Include shared code to run video widget
script(src='/js/video.js')
  
