.video-widget
  video.main
  video.me

//- Add Twilio video SDK from CDN
script(src='//media.twiliocdn.com/sdk/conversations/v0.5/js/releases/0.5.0.b1-ecab1be/twilio-conversations.js')

//- Render template variables into script tags, so we can access from our
//- JavaScript code
script!= 'window.endpointId = "' + endpointId + '";'
script!= 'window.token = "' + token + '";'

//- Include shared code to run video widget
script(src='/js/video.js')
  
