extends layout

block content
  h1= title
  .row
    .col-md-6
      p
        a(href='/') &lt;&lt; View All Ships
      include _ship_detail
    .col-md-6.video
      button.btn.btn-primary Need Help? Chat with Support Now!
      include _video

block scripts
  script(src='/js/product.js')
  
