extends layout

block content
  h1 Watto's Budget Starship Emporium
  p.
    Step right up and browse the finest selection of gently used starships in
    the Outer Rim Territories, fit for every budget!
  .row
    .col-md-12
      table.table
        tr
          th Model
          th Manufacturer
          th Crew
          th Passengers
          th Price (Credits)
        each ship in results
          tr
            td
              a(href='/products?url='+ship.url)= ship.model
            td= ship.manufacturer
            td= num(ship.crew, 0)
            td= num(ship.passengers, 0)
            td
              if ship.cost_in_credits == 'unknown' 
                span Talk To Sales
              else
                +credits(ship.cost_in_credits)
